################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/FlexLayoutDemos/FlexLayoutDemos.Android/obj
/FlexLayoutDemos/FlexLayoutDemos.iOS/obj
/FlexLayoutDemos/FlexLayoutDemos.UWP/obj
/FlexLayoutDemos/FlexLayoutDemos.UWP/bin/x86/Debug
